# NeonDB PostgreSQL
DATABASE_URL=postgresql://neondb_owner:npg_CSmv6....

# Kafka Confluent Cloud
KAFKA_BOOTSTRAP_SERVERS=pkc-921jm.us-ea....
KAFKA_SASL_MECHANISMS=PLAIN
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_USERNAME=BOXQ....
KAFKA_SASL_PASSWORD==cflt2e9....
KAFKA_TOPIC_INPUT=transactions_stream
KAFKA_TOPIC_OUTPUT=fraud_predictions